name: boycott
description: "A mobile app that promote ethical consumerism by providing alternatives to non-ethical products."

publish_to: 'none' 

version: 0.1.0+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  country_flags: ^4.1.0
  lucide_icons_flutter: ^3.1.6
  flutter_easy_translate: ^1.0.4
  skeletonizer: ^2.1.0+1
  http: ^1.6.0
  flutter_bloc: ^9.1.1
  internet_connection_checker_plus: ^2.9.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0


flutter:

  uses-material-design: true

assets:
  - assets/


  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
